# Dependencies
node_modules/

# Build output
dist/
**/.vitepress/cache/
**/.vitepress/dist/

# IDE
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Vite
vite.config.ts.timestamp-*

# claude
.claude/
.agents/

# skills lock
skills-lock.json

# vscode
.vscode/

# HyperFrames
.hyperframes/
covers/
output.mp4
index.html


项目介绍视频稿.md

